*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald';
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

#project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
}

.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.project-heading a{
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    margin-bottom: 10px;
}

.link-style{
  font-size: 20px; 
  border-bottom: 2px solid black;
}

.project-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(237,237,237,0.6);
    flex-wrap: wrap;
    margin: 20px;
}
.project-filter li{
    margin:10px;
    padding: 5px 20px;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.project-filter-active{
    background-color: #f0f0f0;
    color: #272727;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;

}

.project-box{
    width: 330px;
    height: 300px;
    padding: 15px;
    border: 1px solid #eeeeee;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    /* Hover text over imgs */
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;   
}

.lightboxcontainer {
    width:100%;
    text-align:left;
  }
.lightboxleft {
    width: 40%;
    float:left;
  }
.lightboxright {
    width: 60%;
    float:left;
  }
.lightboxright iframe {
    min-height: 390px;
  }
.divtext {
    margin: 36px;
  }
@media (max-width: 800px) {
.lightboxleft {
      width: 100%;
    }
.lightboxright {
      width: 100%;
    }
    .divtext {
      margin: 12px;
    }
  }

/* Overlay text on image upon hover    */
  /* .container {
    position: relative;
    width: 50%;
  } */
  
  /* .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  } */
  
  .project-container .middle {
    transition: .5s ease;
    position: relative;
    text-align: center;
    display: none;
  }
  
  .project-box:hover img {
    /* opacity: 0.3; */
    display: none;
  }
  
  .project-box:hover .middle {
    display: block;
  }
  
  .text {
    color: seagreen;
    font-size: 24px;
    padding: 16px 32px;
  }